@import 'utils/_font';
@import 'utils/_var';

* {
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: $normalBlue;
    margin: 0;
    overflow-x: hidden;
}

.index {
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2 {
    font-family: Title;
}

.title--cat {
    color : transparent;
    -webkit-text-stroke: 1.5px $darkBlue;
}

h3, h4 {
    font-family: Subtitle;
}

p {
    font-family: Text;
}

a {
    text-decoration: none;
    color: $lightBlue;
}

#audio {
    display: none;
}

svg .light {
    color: $lightBlue;
}
svg .dark {
    color: $darkBlue;
}
svg .darker {
    color: $darkerBlue;
}

.lineHoverEffect {
    position: relative;
    margin: 0;
    span {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background: $lightBlue;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.75s ease;
        }
    }
    &:hover span::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }
}

.background--container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    background-color: $lightBlue;
}

.transition--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.project__indicator--container {
    position: absolute;
    z-index: 101;
    padding: 0;
    margin: 0;
    color: $darkerBlue;
    font-family: Title;
    width: 100px;
    pointer-events: none;
    // mix-blend-mode: exclusion;
}

.project__indicator {
    position: absolute;
    transform: translate(-50%, -52.5%) scale(0);
    display: none;
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    // mix-blend-mode: color-dodge;
    mix-blend-mode: difference;
}

.cursor--small {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 50%;
    z-index: 100;
    border: .1px solid $lightBlue;
}

.cursor--canvas {
    width: 100%;
    height: 100%;
    z-index: 101;
}

.onMouseDown {
    transition: padding 2s ease-out;
    padding: 50px;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    z-index: 1;
    opacity: 1;

    span {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $lightBlue;

        &:nth-child(1) {
            transform: rotate(45deg);
            transition: transform .75 ease-in-out;
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
            transition: transform .75 ease-in-out;
        }
    }
}

.scrollIndication--container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8%;
    left: 50%;
    font-family: Subtitle;
    color: $darkerBlue;

    .span--container {
        &_2 {
            span {
                opacity: 0;
            }
            transform: translateY(15px);
        }
        &_1, &_2 {
            position: absolute;
            display: flex;
        }
    }
}


.hud {
    &--nav__top,  &--nav__bottom {
        color: $lightBlue;
        font-size: 13px;
        font-family: SubTitle;
        width: 93%;
        display: flex;
        left: 3.5%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        position: fixed;
        z-index: 5;
        color: $darkerBlue;
        pointer-events: none;
    }
    &--nav__top {
        top: 5%;
        height: fit-content;
        .nav {
            &--name {
                position: relative;
                display: flex;
                height: 20px;
                width: fit-content;
                align-self: flex-start;
                flex-direction: column;
                pointer-events: all;
                .spanName--container {
                    pointer-events: none;
                    position: relative;
                    span {
                        display: inline-block;
                        padding: 5px 0px;
                    }
                }
                .spanPseudo--container {
                    pointer-events: none;
                    position: relative;
                    span {
                        opacity: 0;
                        padding: 5px 0px;
                        transform: translateY(-10px) rotateZ(15deg);
                        display: inline-block;
                        position: relative;
                    }
                }
                span {
                    margin: 0 -2px;
                }
                #espace {
                    margin: 0 1px;
                }
            }
            &--categories {
                display: flex;
                align-self: flex-end;
                justify-content: space-between;
                width: 170px;
                pointer-events: all;
                span {
                    padding: 5px 10px;
                }
            }
        }
    }
    &--nav__bottom {
        bottom: 5%;
        .hud {
            &--sound--btn {
                display: flex;
                align-self: center;
                width: 40px;
                outline: none;
                border: none;
                position: relative;
                background: none;
                padding: 0;
                margin: 0;
                pointer-events: all;
                #canvas-audio {
                    padding: 4px 0;
                    width: 100%;
                    cursor: none;
                }
            }
            &--contact {
                display: flex;
                align-self: flex-end;
                pointer-events: all;
                span {
                    padding: 5px;
                }
            }
        }
    }
}

.hero {
    &--container {
        color: $darkBlue;
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: center;
        height: 50%;
        width: 70%;
    }

    &--content {
        text-align: left;
        position: absolute;
        top: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            position: relative;
            font-size: 130px;
            margin: 0;
        }
        h2 {
            color: rgba($darkBlue, .8);
            position: relative;
            font-size: 30px;
            margin: 0;
            opacity: 1;
            &:hover {
                .more, .smile {
                    opacity: 1;
                    transition: opacity .5s ease-in-out;
                    transition-delay: .25s;
                }
                .smile {
                    transition-delay: 1.5s;
                }
            }
        }
        .more, .smile {
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }
}

.about {
    &--container {
        color: $darkBlue;
        position: relative;
        overflow: hidden;
        top: 0;
        width: 100vw;
        height: 230vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--main {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-self: center;


        .container {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
        }        
    }
    &--title {
        position: absolute;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        .name--container {
            font-family: Title;
            width: fit-content;
            margin: 0;
            span {
                font-size: 125px;
                display: inline-block;
                letter-spacing: 1px;

                @media only screen and (max-width: 800px) {
                    font-size: 45px
                }
            }
            .name{
                color: transparent;
                -webkit-text-stroke: 2px $darkBlue;
                margin: -2px;
            }
            .lastname {
                margin: -2px;
                color: $darkBlue;
            }
            .invisible-space {
                padding: 5px;
            }
        }
        &__subtitle {
            align-self: flex-end;
            font-size: 25px;
            opacity: .6;
            margin-top: -4.5%;
            font-family: Title;
        }
    }
    &--img {
        position: relative;
        width: 365px;  
        height: fit-content;
        overflow: hidden;
        &:hover {
            .img--hover {
                opacity: 1;
                transition: opacity 0.25s ease-in-out;
            }
        }
        img {
            width: 100%;
        }
        .img {
            &--default {
                width: 100%;
                height: 100%;
                position: relative;
                opacity: 0.7;
                z-index: 0;
            }
            &--hover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 2;
                transition: opacity 0.25s ease-in-out;
            }
        }
    }
    &--content {
        margin-top: 100px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 800px) {
            margin-bottom: 50vh;
        }
        .container {
            width: 80vw;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;

            h2 {
                font-size: 100px;
                margin: 0;
                
                @media only screen and (max-width: 800px) {
                    font-size: 65px;
                }
            }

            .text--container {
                width: 80%;
                mix-blend-mode: difference;
                display: flex;
                flex-direction: column;
                p {
                    margin: 40px 0;
                    font-size: 17px;
                    width: 70%;
                    text-align: justify;
                    opacity: 0;

                    @media only screen and (max-width: 800px) {
                        font-size: 12px;
                        width: 85%;
                    }
                    
                    &:nth-child(1) {
                        margin: 0 0 40px 0;
                    }

                    &:nth-child(1), &:nth-child(3) {
                        align-self: flex-start;
                        // text-align: left;
                    }
                    &:nth-child(2), &:nth-child(4) {
                        align-self: flex-end;
                        // text-align: right;
                    }
                }
            }
        } 
    }

    @media screen and (max-width: 1000px) {
        &--title {
            h1 {
                span {
                    font-size: 85px;
                }
            }
            &__subtitle {
                font-size: 20px;
            }
        }
        &--img {
            width: 250px;  
        }
    }

    @media screen and (max-width: 700px) {
        &--title {
            h1 {
                span {
                    font-size: 65px;
                }
            }
            &__subtitle {
                font-size: 15px;
            }
        }
        &--img {
            width: 200px;  
        }
    }
}

.projects {
    &--container {
        color: $darkBlue;
        position: relative;
        overflow: hidden;
        top: 0;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--content {
        width: 100vw;
        height: 200vh;
        display: flex;
        justify-content: center;

        // @media only screen and (max-width: 800px) {
        //     margin-top: 50vh;
        // }

        .container {
            width: 80vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;

            h2 {
                font-size: 100px;
                margin: 0;

                @media only screen and (max-width: 800px) {
                    font-size: 65px;
                }
            }

            .text--container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-self: flex-end;
                width: 50%;
                text-align: center;
                mix-blend-mode: difference;

                @media only screen and (max-width: 800px) {
                    width: 70%;
                }
                .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span {
                        height: 1px;
                        width: 50%;
                        background: $darkerBlue;
                        padding: 0;
                    }
                    h3 {
                        font-size: 20px;
                        margin: 0 0 0 20px;
                        width: fit-content;
                        padding: 0;
                    }
                }
                .projects {
                    margin-bottom: 5vh;
                }
                .hoverPlane {
                    font-size: 40px;
                    opacity: .75;
                    margin: 0;
                    padding: 10px 10px 10px 0;
                    font-family: Subtitle;

                    @media only screen and (max-width: 800px) {
                        font-size: 20px;
                        padding: 0;
                    }
                }
                .project--container {
                    text-align: left;

                    @media only screen and (max-width: 800px) {
                        margin-bottom: 10px;
                    }
                }
            }
        } 
    }
}

.end {
    &--container {
        color: $lightBlue;
        position: relative;
        overflow: hidden;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &--content {
        position: absolute;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        z-index: 10;
        right: 25%;
        top: 75%;
        transform: translate(50%, -50%);
        pointer-events: none;

        @media only screen and (max-width: 800px) {
            right: 50%;
            top: 80%;
        }

        .container {
            display: flex;
            flex-direction: column;
        }
        span {
            font-family: Title;
            margin: 10px 0;
            opacity: 0;
        }
    }
}


.contact {
    &--container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        color: $darkBlue;
        z-index: 6;
        pointer-events: none;
        
        .content--container {
            width: 80vw;
            height: 100vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            opacity: 0;
    
            h2 {
                text-align: left;
                position: relative;
                font-size: 75px;
                margin: 0;
                -webkit-text-stroke: .5px $lightBlue !important;
            }
    
            .content {
                width: 50%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 3% 0 0 0;
                a{
                    margin: 10px 0;
                }
                span {
                    text-align: center;
                    font-size: 15px;
                    opacity: .8;
                    margin: 0;
                    font-family: Text;
                    cursor: none;
                }
            }
        }
        .transition--container {
            z-index: -1;
            background-color: $darkBlue;
            transform: translateY(100%);
        }
    }
}

.canvas--container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;

    .webgl {
        top: 0;
        left: 0;
        outline: none;
    }
}

.projectCanvas--container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    .container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba($normalBlue, 0);
        transform: translateY(100%);
    }
    .content--container {
        position: absolute;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        right: 5%;
        top: 50%;
        color: $lightBlue;
        transform: translate(0, -50%);

        @media only screen and (max-width: 800px) {
            width: 100%;
            top: 70%;
            right: 0;
            align-items: center;
        }

        .title--container {
            position: relative;
            width: fit-content;
            margin-bottom: 10px;
            text-align: center;
            opacity: 0;


            .title--container--content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h3 {
                    font-size: 2.5vw;
                    color: $lightBlue;
                    letter-spacing: 2px;
                    font-family: Subtitle;
                    margin: 0;

                    @media only screen and (max-width: 800px) {
                        font-size: 5.5vw;
                    }
                }
                .link--container {
                    display: flex;
                    span {
                        display: none;
                        font-family: Title;
                        font-size: 13px;
                        color: $lightBlue;
                        background-color: $darkerBlue;
                        padding: 5px 10px;
                        margin: 0 5px 0 0;
                        border-radius: 100px;
                        opacity: .7;
                        transition: opacity .5s ease-in-out;
                        &:hover {
                            opacity: 1;
                            transition: opacity .5s ease-in-out;
                        }
                    }
                }
            }
        }
        .text--container {
            width: 80%;
            margin-bottom: 10px;
            opacity: 0;
            p {
                margin: 0;
                opacity: .8;

                @media only screen and (max-width: 800px) {
                    text-align: justify;
                }
            }
        }
        .icon--container {
            margin-top: 20px;
            opacity: 0;
            span {
                font-family: Subtitle;
                font-size: 13px;
                color: $darkBlue;
                background-color: $lightBlue;
                padding: 5px 10px;
                border-radius: 100px;
                margin-right: 10px;
                margin-bottom: 10px;
                opacity: .7;
                transition: opacity .5s ease-in-out;
                display: none;
                &:hover {
                    opacity: 1;
                    transition: opacity .5s ease-in-out;
                }

                @media only screen and (max-width: 800px) {
                    font-size: 10px;
                }
            }
        }
    }
    .transition--container {
        z-index: -1;
        background-color: $darkBlue;
        transform: translateY(-100%);
    }
}

.loader {
    &--container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $normalBlue;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        span {
            font-size: 16px;
            cursor: none;
        }

        .loader {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $lightBlue;
            font-family: Subtitle;
            .mask-container {
                z-index: 1;
                position: absolute;
                width: 90vw;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                span {
                    padding: 5px 0;
                    transform: translateY(200%);
                }
                .loading-text {
                    &_1 {
                        opacity: 1;
                    }
                    &_2, &_3, &_4 {
                        opacity: 0;
                    }
                }
            }
            .loadValue {
                font-size: 150px;
                color: $darkBlue;
                opacity: .7;
                transform: translateY(5%);
                font-style: italic;
            }
        }

        .soundActivation {
            width: 100%;
            opacity: 0;
            z-index: 1;
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $lightBlue;
            font-family: Subtitle;

            span {
                margin-bottom: 10px;
                cursor: none;
            }

            .choice {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100px;

                button {
                    font-family: Subtitle;
                    color: $lightBlue;
                    outline: none;
                    border: none;
                    background: none;
                    cursor: none;
                }

            }
        }
    }
}

.error {
    color: $lightBlue;
    cursor: auto !important;
    background-color: $darkBlue;
    overflow-y: hidden;
    
    .container {
        font-family: subtitle;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .background {
        color: rgba($darkerBlue, .5);
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: title;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        font-size: 18vw;
        z-index: -2;
        
        #numbers {
            font-family: subtitle;
        }
    }

    .backgroundTransition {
        width: 100vw;
        height: 100vh;
        background-color: $normalBlue;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .loader--container {
        opacity: 0;
        pointer-events: none;
    }
}